# Python cached bytecode ?
**/__pycache__

# Data samples and debug dir
exportedmodels
data
debug
logs

# Other data directories (debug)
data-original
data-noreg
trashcan
data-old

# VS Code stuff
.vscode
workspace.code-workspace

# Visual studio 2017 stuff
.vs

# Virtual environment
venv
