# Python cached bytecode ?
**/__pycache__

# Model
model
exportedmodels

# Data samples
data
data-original
trashcan

# Previous data samples
data-old/**

# VS Code stuff
.vscode

# Visual studio 2017 stuff
.vs

# Virtual environment
venv
